{% extends 'base.html' %}


{% block content %}
<div class="product-details">
    <div class="product-details__image">
        <img src="{{ product.get_image_url }}" alt="{{ product.title }}">
    </div>
    <div class="product-details__content ml-4">
        <div class="product-details__content__title mt-4 font-weight-bold">{{ product.title }}</div>
        <div class="product-details__content__price mt-2">${{ product.price }}</div>
        <div class="product-details__actions">
            <a href="#" class="btn btn-primary mt-3">Buy</a>
        </div>
    </div>
</div>
{% endblock %}